.ImageEnlargement{
    position:fixed;
    top:0px;
    left:0px;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.3);
}

.ImageEnlargement img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 90vh;
    width: auto;
}

